@model CaptchaMvc.Models.DefaultBuildInfoModel
<table>
    <tr>
        <td>
            <img id="@Model.ImageElementId" src="@Model.ImageUrl" style="width:130px" />
            @Html.Hidden(Model.TokenElementId, Model.TokenValue)
        </td>
        <td>
            @{
                string id = Guid.NewGuid().ToString("N");
                string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
                <script type="text/javascript">
                    $(function () {
                        $('#@id').show();
                    });

                    function @functionName {
                        $('#@id').hide();
                        $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() },
                        function () {
                            $('#@id').show();
                        });
                    return false;
                }
                </script>
                @*<a href="#@Model.InputElementId" id="@id" onclick="@functionName" style="display: none;">@Model.RefreshButtonText</a>*@
                <a href="javascript:{}" id="@id" class="easyui-linkbutton" tabindex="-1" data-options="size:'large',iconCls:'icon-reload'" onclick="@functionName" style="display: none;"></a>
            }
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            @*@Model.InputText*@
            @if (Model.IsRequired)
            {
                @Html.TextBox(Model.InputElementId, null,
                    new Dictionary<string, object>
                    {
                        {"data-val","true"},
                        {"data-val-required", Model.RequiredMessage},
                        //{"class" ,"textbox-text validatebox-text validatebox-invalid textbox-prompt"},
                        //{"data-options","required:true"},
                        {"style","width:180px;height:32px"}
                    })
            }
            else
            {
                @Html.TextBox(Model.InputElementId, null, new { @class = "easyui-textbox", data_options = "required:true", style = "width:180px;height:32px" })
            }
        </td>
        <td>
            @Html.ValidationMessage(Model.InputElementId, new { style = "color:red" })
        </td>
    </tr>
</table>